<% provide(:title, 'About |') %>

<div class="row">
  <div class="small-12 column">
    <h1>who we are</h1>
  </div>
</div>

<section class="expando-box">
  <div class="above-fold">
    Lorem ipsum dolor sit amet, graece quaestio qualisque ut has, ad quando nostrum quaestio eam, ei est sale democritum. An duis erant accusam vis, ea solum ornatus posidonium vix, vulputate percipitur qui an. Vim ut dolore pertinax. Qui modo fierent signiferumque id, pri minimum qualisque definitionem te.

Sed ut amet temporibus, soluta recusabo sapientem in vix, sit eu quot ignota appetere. Esse paulo necessitatibus pro cu, nam vidisse officiis ut. Ex blandit propriae mnesarchum eam, no quo duis prodesset. Quod sapientem forensibus ius at, et eros solum cetero vim, audire omnesque cu est. Eu eam velit harum sensibus, an eos prima perfecto.

Quot blandit et mea, et quo atomorum signiferumque. Duo diceret oporteat te. Ex facilisi deserunt per. Utinam pertinacia ut duo. Sit cu ferri vitae.

Usu sale natum ea, quis graece instructior cu qui, pri ei molestie lobortis delicata. No elitr tollit urbanitas nec. In usu quaeque evertitur. Te pro diam labores, audire adolescens ad mei. Vis duis placerat periculis eu. Equidem ancillae duo eu.

Prima atqui assum ea ius. In vis quas veniam salutandi, his et omnes gubergren. Mea id pertinax recteque, in ius dolores eloquentiam comprehensam, usu id etiam efficiantur. Cum no idque fuisset omittam, et ius utroque inermis, ex mel doming audiam alienum. Id quo sententiae cotidieque intellegebat, et scaevola deseruisse efficiendi sea, dico duis eripuit ea vel.
  </div>

  <div class="below-fold hide-me">
    Lorem ipsum dolor sit amet, graece quaestio qualisque ut has, ad quando nostrum quaestio eam, ei est sale democritum. An duis erant accusam vis, ea solum ornatus posidonium vix, vulputate percipitur qui an. Vim ut dolore pertinax. Qui modo fierent signiferumque id, pri minimum qualisque definitionem te.

Sed ut amet temporibus, soluta recusabo sapientem in vix, sit eu quot ignota appetere. Esse paulo necessitatibus pro cu, nam vidisse officiis ut. Ex blandit propriae mnesarchum eam, no quo duis prodesset. Quod sapientem forensibus ius at, et eros solum cetero vim, audire omnesque cu est. Eu eam velit harum sensibus, an eos prima perfecto.

Quot blandit et mea, et quo atomorum signiferumque. Duo diceret oporteat te. Ex facilisi deserunt per. Utinam pertinacia ut duo. Sit cu ferri vitae.

Usu sale natum ea, quis graece instructior cu qui, pri ei molestie lobortis delicata. No elitr tollit urbanitas nec. In usu quaeque evertitur. Te pro diam labores, audire adolescens ad mei. Vis duis placerat periculis eu. Equidem ancillae duo eu.

Prima atqui assum ea ius. In vis quas veniam salutandi, his et omnes gubergren. Mea id pertinax recteque, in ius dolores eloquentiam comprehensam, usu id etiam efficiantur. Cum no idque fuisset omittam, et ius utroque inermis, ex mel doming audiam alienum. Id quo sententiae cotidieque intellegebat, et scaevola deseruisse efficiendi sea, dico duis eripuit ea vel.
  </div>
</section>

<section class="expando-box">
  <div class="above-fold">

  </div>

  <div class="below-fold hide-me">

  </div>
</section>

<section class="expando-box">
  <div class="above-fold">

  </div>

  <div class="below-fold hide-me">

  </div>
</section>

<section class="expando-box">
  <div class="above-fold">

  </div>

  <div class="below-fold hide-me">

  </div>
</section>