<% provide(:title, 'Apply |') %>

<div class="map-nav blue">
  <div class="row tab-row">
    <div class="small-12 column">
    </div>
  </div>

  <div class="row image-row">
    <div class="small-12 column">
      <div class="image-wrapper">
      </div>
    </div>
  </div>

  <div class="row tagline">
    <div class="small-12 column">
      <h2>Join the movement</h2>
    </div>
  </div>

  <div class="row cta">
    <div class="small-12 column">
      <%= link_to 'apply', apply_path, class: 'button large' %>
    </div>
  </div>
</div>

<section class="content-container">

<div class="page-content default-content" id="page-content_1">
  <div class="row">
    <div class="small-12">
      <h1>Apply</h1>
    </div>
  </div>

  <p>
   Applications to join our Class of 2013 are now closed. Applications for the Class of 2014 will open on August 1, 2013.
  </p>

  <p>
Application deadlines for our 2014 Fellowship are as follows*:
  </p>

  <ul style="margin-left: 30px;">
    <li>October 7, 2013</li>
    <li>December 2, 2013</li>
    <li>February 17, 2014</li>
  </ul>

*Please note: These dates are subject to change.
</div>

</section>