<% provide(:title, 'Companies |') %>

<div class="row">
  <div class="small-12 column">
    <h1>companies</h1>
  </div>
</div>

<section class="expando-box">
  <div class="above-fold">

  </div>

  <div class="below-fold hide-me">

  </div>
</section>

<section class="expando-box">
  <div class="above-fold">

  </div>

  <div class="below-fold hide-me">

  </div>
</section>

<section class="expando-box">
  <div class="above-fold">

  </div>

  <div class="below-fold hide-me">

  </div>
</section>