<% provide(:title, 'Support VFA |') %>

<div class="map-nav support">
  <div class="row tab-row">
    <div class="small-12 column">
      <a href="#" class="tab-title default-title first-title" id="tab-title_1">sponsorship info</a>
      <a href="#" class="tab-title" id="tab-title_2">vfa supporters</a>
    </div>
  </div>

  <div class="row image-row">
    <div class="small-12 column">
      <div class="image-wrapper">

      </div>
    </div>
  </div>

  <div class="row tagline">
    <div class="small-12 column">
      <h2>Be an advocate of change</h2>
    </div>
  </div>

  <div class="row cta">
    <div class="small-12 column">
      <a target="_blank" href="https://www.wepay.com/donate/63877?ref=widget&utm_medium=widget&utm_campaign=donation">
        <img alt="Donate with WePay" src="/assets/donate.png">
      </a>
    </div>
  </div>
</div>

<section class="content-container">

<div class="page-content default-content" id="page-content_1">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">Sponsorship Information</h1>
    </div>
  </div>

  <h3> Benefits for Sponsors

</h3>


<p> Thank you for your interest in becoming a Venture for America Fellow and joining the movement to build businesses and create jobs throughout the country.

Applications to join the Class of 2013 are now closed. For our 2014 Fellowship (beginning in June 2014), you must apply before one of the following deadlines: October 7, 2013; December 2, 2013; and February 17, 2014. </p>


<ol style="margin-left: 30px">

<li> Drive talent to early-stage growth companies to help them succeed and expand; and </li>

<li> Train and socialize a critical mass of our best and brightest to become business builders and job creators. </li>

</ol>


<p> Since its launch, Venture for America has been featured in the New York Times, Wall St. Journal, Time, Barron’s, Forbes, NPR, Fox News, the Huffington Post, Fast Company, Inc., Techcrunch, Good, the Stanford Social Innovation Review, and numerous other national press outlets. VFA has also appeared in dozens of campus publications at national universities. </p>


<h3> 2013 Corporate Funding Opportunities

</h3>


<p>Venture for America is looking for sponsors to support its operations for the 2013 Fellowship Program (June 2013 – August 2015). You can support VFA through the following funding opportunities:

</p>



<h5> 1. Sponsor the Fellow Training Camp

</h5>

<p>Prior to the start of work, all Venture Fellows will attend a 5-week training camp that consists of readings and discussions as well as lectures and meetings with seasoned investors and entrepreneurs. Venture Fellows will gain practical skills in order to be able to contribute immediately to a company.

<b> The cost of the 2013 VFA Summer Training Camp will be approximately $400k. Sponsors who cover all training camp costs will receive naming rights to the camp (i.e. “The [Sponsor] Venture for America Fellow Training Camp”). Recognition will also be provided at other contribution levels.</b>

</p>



<h5> 2. Sponsor a VFA City

</h5>


<p>The cost per VFA Fellow over the 2-year program, including general administrative costs, will be approximately $15K per year for recruitment, training, programming, travel, and other program expenses. (For comparison, Teach for America spends approx. $20k per year per Corps Member.)

</p>


<p>Our immediate funding needs are for our 2013 Fellowship cities:

</p>


<ul style="margin-left: 30px">

<li>Baltimoret</li>

<li>Cincinnati </li>

<li>Cleveland </li>

<li>Detroit</li>

<li>Las Vegas</li>

<li>New Orleans</li>

<li>Philadelphia </li>

<li>Providence </li>

</ul>


<p> An average of 10 Fellows will join the Class of 2012 in each city, for a complete regional sponsorship cost of $150k per year or $300k over 2 years. Sponsors will receive name recognition for fully funding any current or future expansion city. Recognition will also be provided at other contribution levels.

</p>


<h5> 3. Sponsor a Fellow

</h5>


<p> Individual 2012 and 2013 Fellows may be sponsored at $15k/year per Fellow. We would like Fellow sponsors to serve as mentors to his/her fellow through the duration of the program.

</p>


</div>

<div class="page-content" id="page-content_2">
  <div class="row">
    <div class="small-12">
      <h1 class="tab-header">VFA Supporters</h1>
    </div>
  </div>

  <h3>National &#038; Regional Sponsors:</h3>

<div class="row">
  <div class="small-6 column">
    <ul style="margin-left: 10px;list-style:none;">
    <h4>$200K+ Donors:</h4>
<li>Anonymous</li>
</ul>
<h4>$100K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>The Abell Foundation, Baltimore</li>
<li>The Bank of America Charitable Foundation</li>
<li>The Blackstone Charitable Foundation</li>
<li>Tony Hsieh, CEO of Zappos</li>
<li>Andrew Yang</li>
</ul>
<h4>$50K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>IAC</li>
<li>Sy Jacobs</li>
<li>Zak Pashak</li>
<li>Anonymous</li>
</ul>
<h4>$25K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Eric Cantor</li>
<li>The Carol Ann and Ralph V. Haile, Jr./U.S. Bank Foundation</li>
<li>ProPhase</li>
<li>The Rhode Island Foundation</li>
<li>Matt Wisdom/Turbosquid</li>
</ul>
<h4>$20K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Jay Bockhaus</li>
<li>Bernard Sucher</li>
</ul>
<h4>$10K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Eric Bahn</li>
<li>Cameron Breitner</li>
<li>Robin Chan</li>
<li>John Delbridge</li>
<li>Peter Ezersky</li>
<li>Katherine Farley</li>
<li>Greg and Sophia Gushee</li>
<li>JP Morgan Chase</li>
<li>Michael Kahan</li>
<li>Princess Khaliya</li>
<li>Miles and Elizabeth Lasater</li>
<li>Lawrence Lenihan</li>
<li>Bhikhaji Maneckji</li>
<li>Andy Parker</li>
<li>Charles Penner</li>
<li>Dan Rosenthal</li>
<li>Jeff Weiner</li>
</ul>
  </div>

  <div class="small-6 column">
    <h4>$5K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Cariann Chan</li>
<li>Alan Hassenfeld</li>
<li>Ion Media</li>
<li>LeRoy Kim</li>
</ul>
<h4>$2K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Jack and Savitri Basavaiah</li>
<li>Cintrifuse</li>
<li>Detroit Venture Partners</li>
<li>Doodle Home</li>
<li>Chieh Huang</li>
<li>Tony Lu</li>
<li>Brandon Pollak</li>
<li>David Tisch</li>
<li>Andy Weissman</li>
</ul>
<h4>$1K+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Eric Bahn/Beat the GMAT</li>
<li>Mary Ann Bradshaw</li>
<li>Bryan Cave LLP</li>
<li>Angela Cenedella</li>
<li>Fabrice Grinda</li>
<li>Gregory Ho</li>
<li>Kenneth Kirshenbaum</li>
<li>Warfield Price and Sara Dawes</li>
<li>Quikly</li>
<li>Jeremy Shinewald</li>
<li>Robert Tsai</li>
<li>Yahoo!</li>
</ul>
<h4>$500+ Donors:</h4>
<ul style="margin-left: 10px;list-style:none;">
<li>Rashaad Bajwa</li>
<li>Wm. Polk Carey</li>
<li>David Day</li>
<li>Sachi Gahan</li>
<li>Kosty Gilis</li>
<li>Andrew Haber</li>
<li>James Robinson IV</li>
<li>Guillermo Silberman</li>
<li>Pritu Sritmala</li>
<li>Benjamin Sun</li>
<li>Lawrence Wu</li>
</ul>
  </div>
</div>





</div>
</div>

</div>


</section>