$pagewidth: 996px
$blue: #607c9f
$home_blue: #adc4cc
$footer_hover: #8c9fa6
$corral: #fc6565


h1, h2, h3, h4, h5, h6, p, a
  font-family: 'Raleway', sans-serif
  font-weight: 200

html
  height: 100% !important

body
  height: 100%
  font-family: 'Raleway', sans-serif
  font-weight: 200


.container
  position: relative
  width: 1200px
  min-height: 100%
  overflow: visible
  margin-top: 45px

.button
  text-transform: uppercase
  border: none
  box-shadow: none
  background: #2396ae
  font-family: 'Raleway', sans-serif
  &:hover
    background: #1c859d
  &.corral-button
    background: $corral
    &:hover
      background: #eb5454
  &.alt-button
    background: transparent
    border: solid 3px $corral
    color: $corral
    padding: 17px 32px 18px 32px
    &:hover
      border-color: #eb5454
      color: #eb5454

.cta
  text-align: center
  margin-top: 28px

.hide-me
  display: none

/* header */
.background-top-bar
  height: 45px
  background: $home_blue
  width: 4000px
  position: fixed
  top: 0
  left: 0
.top-bar
  max-width: 1200px
  margin-bottom: 0 !important
  .logo
    margin-top: 3px

/* footer */

footer
  margin-left: 450px
  background: $home_blue
  max-width: 4000px
  .footer-content
    max-width: 750px
    padding: 10px
    padding-right: 0
    margin-top: 10px
    .footer-about
      border-right: solid 2px #fff
      padding-top: 10px
      padding-bottom: 10px
      h3
        color: #fff
        margin-top: 10px
        a
          color: #fff
    .footer-list
      list-style: none
      color: #fff
      padding: 0
      a
        color: #fff
    .footer-social
      list-style: none
      float: right
      margin-top: 15px
      li
        float: left
        padding-left: 15px
  .vfa-info
    text-align: center
    font-size: 10px