<footer>
  <div class="footer-content">

  <ul class="row">
    <li><a href="">test</a></li>
    <li><a href="">test</a></li>
    <li class="left">
      <a href="">NEED SOCIAL LINKS</a>
    </li>
  </ul>

  <div class="row vfa-info">
    <p>
      Venture for America is a 501(c)(3) nonprofit organization. Copyright ©
      Venture For America, Inc. All rights reserved.
    </p>
  </div>

  </div>
</footer>