<div class="fixed">
<div class="background-top-bar"></div>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to image_tag('logo.png'), root_path, class: 'logo' %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to 'fellows', fellows_path %></li>
      <li><%= link_to 'companies', companies_path %></li>
      <li><%= link_to 'support vfa', support_path %></li>
    </ul>
  </section>
</nav>
</div>